/* 

- FONT SIZE SYSTEM (px) 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- SPACING SYSTEM (px) 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

--- Line heights:

--- COLORS:


*/

/*******************************/
/*      GENERAL STYLES         */
/*******************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* scroll-padding-top: 8rem; */
}

body {
  margin: 0;
  padding: 0;
  color: #212529;
  scroll-padding-top: 6rem;
}

/*******************************/
/*           REUSABLE          */
/*******************************/
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container--big {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.flex {
  display: flex;
  gap: 4.8rem;
}

.grid {
  display: grid;
  gap: 4.8rem;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid--v-center {
  align-items: center;
}

.grid--h-center {
  justify-items: center;
}

.header-secondary {
  font-size: 5.2rem;
}

.icon {
  padding: 2.4rem;
  border-radius: 50%;
  background-color: #ced4da;
  color: #212529;
  height: 4.8rem;
  width: 4.8rem;
  margin-bottom: 1.2rem;
}

.icon-small {
  padding: 1.2rem;
  border-radius: 50%;
  background-color: #ced4da;
  color: #212529;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 1.2rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.marg-top-b {
  margin-top: 6.4rem;
}

/*******************************/
/*            HEADER           */
/*******************************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  width: 100%;
  z-index: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);

  animation: slideDown 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.logo {
  height: 6rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #212529;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:active,
.main-nav-link:hover {
  color: #495057;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  color: #ffffff;
  background-color: #363636;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #495057;
}

/******************/
/*     MOBILE     */
/******************/
.btn-mobile-nav {
  border: none;
  background-color: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8em;
  width: 4.8rem;
  color: #212529;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*******************************/
/*        HERO SECTION         */
/*******************************/
.section-hero {
  height: 100vh;
  background-image: url(../img/hero-bg.webp);
  background-repeat: no-repeat no-repeat;
  background-position-y: 70%;
  background-size: cover;

  display: flex;
  justify-content: center;
  text-align: center;
}

.hero-text {
  padding: 0 2.4rem;
}

.hero-text h1 {
  margin-top: 30rem;
  color: #212529;
  font-size: 6.2rem;
  animation: slideDown 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.hero-text a:link,
.hero-text a:visited {
  display: inline-block;
  margin-top: 4.8rem;
  padding: 1.2rem 2.4rem;
  font-size: 2.4rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #212529;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  animation: showUp, slideDown 1.2s;
}

.hero-text a:active,
.hero-text a:hover {
  transform: scale(1.1);
}

/* HEADER, BUTTON ANIUMATION */
@keyframes slideDown {
  0% {
    transform: translate(0, -100px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*******************************/
/*       VIDEO SECTION         */
/*******************************/
.section-video {
  padding: 9.6rem 0 12.8rem 0;
  background-image: url(../img/section-video-bg.svg);
  background-repeat: no-repeat no-repeat;
  background-size: cover;
}

.section-video .container {
  flex-direction: column;
  align-items: center;
}

.yt-video {
  border-radius: 8px;
  height: 60rem;
  width: 90rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.video-text {
  display: flex;
  align-items: center;
  text-align: center;
}

/*******************************/
/*      SECTION ABOUT US       */
/*******************************/
.section-about {
  padding: 9.6rem 0;
  background-image: url(../img/section-about-us-bg.svg);
  background-size: cover;
}

.section-about .container--big:nth-child(1) {
  margin-bottom: 6.4rem;
}

.about-container:not(:last-child) {
  margin-bottom: 9.6rem;
}

.about-container--reverse .about-text {
  grid-row: 1;
}

.about-img {
  display: block;
  width: 75%;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about-text {
  font-size: 2.4rem;
  line-height: 1.7;
}

/*******************************/
/*       SECTION OFFER         */
/*******************************/
.section-offer {
  padding: 9.6rem 0;
}

.offer-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  transition: all 0.3s ease;
}

.offer-card:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 14px 48px 0px;
}

.offer-img {
  display: block;
  width: 100%;
}

.offer-text {
  padding: 2.4rem;
}

.offer-title {
  font-weight: 500;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.offer-description {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5;
}

/*******************************/
/*       SECTION OFFER         */
/*******************************/
.section-contact {
  padding: 9.6rem 0;
}

/*******************************/
/*        ANIMATIONS           */
/*******************************/
.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
